.components-topnews-newsbox {
    position: relative;
    display: grid;
    grid-template-areas: 
        "image title"
        "image author"
        "image description";
        grid-template-columns: 1fr 4fr;
    border: oldlace 1px solid;
    margin-bottom: 0.5rem;
    align-items: center;
    width: calc(100vw - 3rem);
    left: 50%;
    transform: translateX(-50%);
}

.components-topnews-newsbox img {
    grid-area: image;    
    width: min-content;
    max-width: 20vw;
    height: min-content;
    max-height: 14vh;
}

.components-topnews-newsbox a, .components-topnews a {
    grid-area: title;
    font-size: 1.3rem;
    color: #02182b;
}

a:hover {
    color:#d7263d
}

.components-topnews-newsbox span {
    grid-area: author;
    color: #02182b;
}

.components-topnews-newsbox article {
    grid-area: description;
    color: #02182b;
    max-width: 50vw;
    place-self: center;
}