body{
  max-width: 100%;
  margin: 0;
  background-color: #02182b;
  color: #26AFFF;
}

h1 {
  color: #00f6ff;
}

.App {
  height: 100vh;
  width: 100vw;
  text-align: center;
  display: grid;
  grid-template-areas: 
  "header"
  "content"
  "nav";
  grid-template-columns: 1fr;
  grid-template-rows: .5fr 4fr 1fr;
}

div.header {
  background: #d7263d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: header;
}

div.header h1 {
  margin: 10px;
}

div.components-map{
  margin: 10px;
}

div.currentPage {
  max-width: 100%;
  margin: 10px;
  grid-area: content;
}

.NavButtons {
  background: #02182b;
  grid-area: nav;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;

}

button {
  border: 1px solid black;
  height: 13em;
  color: #02182b;
  background-color: #d7263d;
}

button:focus {
  outline: none;
  background-color: #26AFFF;
}
