body {
    max-width: 100%;
    margin: 0;
    background-color: #bedaf2;
    color: #02182b;
    font-family: "Baloo Chettan 2";
    font-weight: 600;
}

h1 {
    color: #02182b;
    font-weight: 700;
}

a {
    color: #02182b;
}

a:hover {
    color: #d7263d;
}

ul {
    list-style: none;
}

.App {
  height: 100vh;
  width: 100vw;
  text-align: center;
  display: grid;
  grid-template-areas: 
  "header"
  "currentPage"
  "nav";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 6fr 1fr;
}

div.header {
    background: #26afff;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: header;
    z-index: 99;
}

i.fa-biohazard {
    color: #d7263d;
}

div.header h1 {
  margin: 5px;
}

div.components-map {
    margin: 10px;
    max-width: 100%;
    grid-area: currentPage;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.currentPage {
  max-width: 100%;
  margin-top: 5em;
  margin-bottom: 6em;
  grid-area: currentPage;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

select {
    height: 2em;
    font-size: 1em;
    margin-top: 2em;
}

label {
    margin-right: 5px;
}

.articles ul {
    margin-right: 3em;
    margin-bottom: 3em;
}

.watchList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: max-content;
    position: relative;
    margin: 0 auto;
}

.watchList h1{
    margin-left: 1em;
}

.watchList ol {
    margin-top: 2em;
}

.watchList li {
    margin-bottom: 3em;
}

.watchList span {
    color: #d7263d;
}

.checkList {
  display: flex;
  flex-direction: column;
  /* padding-left: 25%; */
}

.plan {
  margin-right: 10px;
}

.graphCountryButton {
    height: 3em;
    font-size: 13px;
}

nav {
    position: fixed;
    bottom: 0;
    background-color: #26afff;
    width: 100%;
    grid-area: nav;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav button {
  border: none;
  font-family: 'Baloo Chettan 2';
  font-size: 14px;
  height: 6em;
  width: 18vw;
  color: #02182b;
  background-color: #26AFFF;
}

button:focus {
    outline: none;
    background-color: #d7263d;
}

button:target {
    background-color: #d7263d;
}