/* Font Families: Baloo Chettan 2 : 400, 600, 700
                  Open Sans: 300, 400 */


body{
  max-width: 100%;
  margin: 0;
  background-color: #02182b;
  color: #26AFFF;
  font-family: 'Baloo Chettan 2';
  font-weight: 600
}

h1 {
  color: #02182b;
  font-weight: 700;
}

.App {
  height: 100vh;
  width: 100vw;
  text-align: center;
  display: grid;
  grid-template-areas: 
  "header"
  "content"
  "nav";
  grid-template-columns: 1fr;
  grid-template-rows: .5fr 4fr .5fr;
}

div.header {
  background:linear-gradient(to left, #d7263d, #02182b);
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: header;
}

div.header h1 {
  margin: 10px;
}

div.components-map{
  margin: 10px;
  max-width: 100%;
  grid-area: content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.currentPage {
  max-width: 100%;
  margin: 10px;
  grid-area: content;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

nav {
  background-color: #d7263d;
  width: 100%;
  grid-area: nav;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

button {
  border: none;
  font-size: 16px;
  height: 6em;
  color: #02182b;
  background-color: #d7263d;
}

button:focus {
  outline: none;
  background-color: #26AFFF;

}

button:target {
  background-color: #26AFFF;
}
